.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.chartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

.chart {
  flex: 1 1 30%;
  min-width: 300px;
  max-width: 600px;
}
